#top-nav{
    background-color: coral;
}
#search-form{
    margin-right: 100px;
}
#picon{
    margin-right: 40px;
}
#todoname{
    margin-left: 100px; 
}
#ff{
    padding-right: 20px;
}
#register{
    position: absolute;
    left: 10px;
}
#register span{
    color: blue;
}