<section class="h-100 gradient-form gradient-custom-2" >
    <div class="container px-1 py-1 h-100">
          <div class="card rounded-3 text-black">
                <div class="card-body p-md-2 mx-md-2">
                    <form>
                    <input class="form-control form-control-lg mb-2 taskform" type="text" placeholder="Title">
                    <textarea class="form-control mb-2 taskform"  placeholder="Description"></textarea>
                    <input class="form-control form-control-sm mb-2 taskform" type="datetime-local">
                    </form>
                    <div class="mb-2 login-btn">
                        <button
                          class="btn btn-primary gradient-custom-1 btn-sm"
                          type="button"
                        >
                          <span class="btn-text">Add</span>
                        </button>
                        <a onclick="handlerHide()" style= "color:white">
                        <button
                          class="btn btn-primary gradient-custom-1 btn-sm"
                          type="button"
                        >
                          <span class="btn-text">Cancel</span>
                        </button>
                      </a>
                      </div>
        </div>
      </div>
    </div>
  </section>