{% extends 'base.html' %}
{% load static %}
 {% block content %}

<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center mb-5">
                  <img
                    src={% static 'checklist.png' %}
                    style="width: 120px"
                    alt="logo"
                  />
                </div>

                <form action={% url "emailurl" %} method="post">
                  {% csrf_token %}
                  <p class="fs-4">Recover Account!</p>

                  {% if emailincorrect %}
                  <div class="errormsg">
                    Email id doesn't exist!
                  </div>
                  {% endif %}
                  
                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="form2Example11"
                      class="form-control"
                      placeholder="Email Address"
                      name = "Lemail"
                      required
                    />
                  </div>

                  <div class="text-center mb-2 login-btn">
                    <button
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 btn-lg"
                      type="submit"
                    >
                     Submit
                    </button>
                  </div>
                 

                 
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-2 mx-md-4">
                  <img
                  src={% static 'login-img.webp' %}
                  style="width: 100%;"
                  alt="logo"
                />  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
