{% extends 'base.html' %}
 {% block content %}

 <section class="h-100 gradient-form list-view" style="background-color: #eee">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black list-view">
                <div class="card-body p-md-2 mx-md-2 ">

                  <!-- To display all existing task -->
                    {% for task in todolist %}
                    {% include 'taskelement.html' with task_detail=task %}
                    {% endfor %}

                    <!--Add new task button -->
                    <a onclick="handlerShow()">
                      <i class="fa fa-solid fa-circle-plus gradient-text"></i>
                      <span style="color:#d8363a">Add new task</span>
                    </a>

                    <!-- Form to add new task-->
                  <div class = "mb-2" id="addbox" style="display:none"> 
                  {% include 'additem.html' %}
                  </div>

              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}