<div class="h-100 gradient-form gradient-custom-2 mb-2" >
    <div class="container px-1 py-1">
        <div class="card rounded-3 text-black">
            <div class="card-body p-md-2 mx-md-2">
                <h3>{{ task_detail.title }}</h3>
                <p>{{ task_detail.desc }}</p>
                <div class="row">
                    <div class="col">
                        <p>{{ task_detail.date }}</p>
                    </div>
                    <div class="col">
                        <span class="updatetask">
                            <a href={{task_detail.getremoveurl}}><i class="fa-solid fa-trash"></i></a>
                            <a><i class="fa-solid fa-pen-to-square"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>