<div class="h-100 gradient-form gradient-custom-2 mb-2" >
    <div class="container px-1 py-1">
        <div class="card rounded-3 text-black">
            <div class="card-body p-md-2 mx-md-2">
                <h3>Title</h3>
                <p>Lahjhakjfnanfjknjkanjf andjakhfjkhakjfjsk ahkjfahfkahsfja</p>
                <div class="row">
                    <div class="col">
                        <p>12/2/33131</p>
                    </div>
                    <div class="col">
                        <span class="updatetask"><i class="fa-solid fa-trash"></i><i class="fa-solid fa-pen-to-square"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>