<div class="h-100 gradient-form gradient-custom-2 mb-2" >
    <div class="container px-1 py-1">
        <div class="card rounded-3 text-black">
            <div class="card-body p-md-2 mx-md-2">
                <input class="form-control form-control-lg mb-2 taskform" style="font-weight:bold" id="{{ task_detail.id }}-title" type="text" placeholder="Title" name="titl" value={{ task_detail.title }} required disabled>
                  <textarea class="form-control mb-2 taskform" name="descr" id="{{ task_detail.id }}-desc" placeholder="Description" disabled>{{ task_detail.desc }}</textarea>
                  <input class="form-control form-control-sm mb-2 taskform" id="{{ task_detail.id }}-date" name="datetime" value={{ task_detail.date }} type="datetime-local" required disabled>
                  <div id="{{ task_detail.id }}-icons">
                    <span class="updatetask"><i onclick="deletemodalshow()" class="fa-solid fa-trash"></i><i onclick="editClickHandle({{ task_detail.id }})" class="fa-solid fa-pen-to-square"></i></span>
                  </div>
                  <div class="mb-2 updatetask removeele" id="{{ task_detail.id }}-update">
                    <button onclick="updateClickHandle({{ task_detail.id}})" class="btn btn-primary gradient-custom-1 btn-sm" type="button">
                      <span class="btn-text">Update</span>
                    </button>
                    <button onclick="cancelClickHandle({{ task_detail.id }})" class="btn btn-primary gradient-custom-1 btn-sm" type="button">
                      <span class="btn-text">Cancel</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</div>

<!--Delete modal show & hide -->
<div class="modal fade top show" id="exampleFrameModal1" tabindex="-1" aria-labelledby="exampleFrameModal1" data-gtm-vis-first-on-screen-2340190_1302="40781" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-frame modal-top">
      <div class="modal-content rounded-0">
        <div class="modal-body py-1">
          <div class="d-flex justify-content-center align-items-center my-3">
            <p class="pt-3 mx-4">
              Are you sure want to delete?
            </p>
            <a href={{ task_detail.getremoveurl}}>
                <button type="button" class="btn btn-primary gradient-custom-1 btn-sm">Yes</button>
            </a>
            <button onclick="deletemodalhide()" type="button" class="btn btn-primary gradient-custom-1 btn-sm" data-mdb-dismiss="modal">
              No, thanks
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>